.input {
  font-size: inherit;
  color: inherit;
  padding: 0.5em 1em;
  border: 1px solid #d2d6de;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    box-shadow: none;
    border-color: #3c8dbc;
  }
}