.button {
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  border: 1px solid #d2d6de;
  background: #FFF;
  padding: 0.75em 2em;
  box-shadow: none;

  &_blue {
    color: #FFF;
    background: #286090;
    border-color: #122b40;

    &:hover {
      background: #367fa9;
    }
  }
}

