.menu {
  background: #222d32;
  color: #b8c7ce;

  &__link {
    display: inline-block;
    width: 100%;
    color: inherit;
    text-decoration: none;
    line-height: 1;
    padding: 15px 20px;

    &:hover {
      background: #1e282c;
    }
  }
}
