.login-page {
  min-height: 100vh;
  background: #d2d6de;

  &__form {
    max-width: 360px;
    margin: 0 auto;
    padding: 30vh 0 50px;
    font-size: 14px;
  }

  &__form-title {
    text-align: center;
    margin-bottom: 15px;
  }

  &__form-body {
    background: #FFF;
  }
}