.login-form {
  padding: 1.5em;

  &__msg,
  &__error {
    margin-bottom: 1.5em;
    text-align: center;
  }

  &__field {
    margin-bottom: 1.5em;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__remember {
    flex-grow: 1;
  }

  &__button {
    flex-grow: 0;
  }
}