.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background: #ecf0f5;

  &__header {
    flex-grow: 0;
    background: #3c8dbc;
    padding: 15/16em 0;
    font-size: 1.6em;
  }

  &__body {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
  }

  &__sidebar {
    width: 250px;
    font-size: 16px;
    background: #222d32;
  }

  &__content {
    flex-grow: 1;
  }
}
