.checkbox {
  &__input {
    display: inline-block;
    vertical-align: middle;
    &_text {
      margin-right: 0.33em;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

