.table {

  &__row {
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFF;

    &:nth-child(even) {
      background-color: #f9f;
    }
  }

  &__cell {
    flex-grow: 1;
    padding: 0.7em 1em;
    border-color: #ddd;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;

    &:last-child {
      border-right-width: 1px;
    }
  }
}
