@import (less) "./../node_modules/normalize.css/normalize.css";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  height: 100%;
}
body {
  height: 100%;
  font: 10px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #FFF;
  min-width: 320px;
  color: #333;
}